<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>787245630983-tcct8apsc8hdmd5mf8hr606jdtkkg0vu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787245630983-tcct8apsc8hdmd5mf8hr606jdtkkg0vu</string>
	<key>API_KEY</key>
	<string>AIzaSyCxiUzxQI2oW8tlLrSqUeKjFhPdErLqFlg</string>
	<key>GCM_SENDER_ID</key>
	<string>787245630983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BurningBeard.LoicDanjean.HordeMTGiPad</string>
	<key>PROJECT_ID</key>
	<string>against-the-horde-e598e</string>
	<key>STORAGE_BUCKET</key>
	<string>against-the-horde-e598e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787245630983:ios:8f659cbad8f6766c7b8ca2</string>
</dict>
</plist>